 <h1>Welcome</h1>
<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
    <%= button_to "Create Book", 'books/new', method: :get%>
    <%= button_to "All Books", 'books', method: :get%>
    <%= button_to "List of all books", '/users/new', method: :get%>
    <%= button_to "Logout", '/logout', method: :delete%>
<% else %>

<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
<%end%>
